# Node
node_modules/
.angular/
dist/

# Angular
frontend/node_modules/
frontend/.angular/
frontend/dist/

# .NET
bin/
obj/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Build
out/

# Docker
docker-data/

# User files
*.user
*.suo